html, body, ul, li, ol , dl , dd , dt , p, h1, h2, h3, h4, h5, h6, form, fieldset, legend , table, td, img {margin: 0;padding: 0;}
ul,ol{list-style-type:none;}

body{ 
	width:100%;
	background-color:#000000;
}

.body_color{
	background-color:#CCCCCC;
}

.black_font {
	color:#000000;
	font-family: "宋体";
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}

.black_font_16 {
	color:#000000;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-family: "宋体";	
}

.orange_font_14 {
	font-size:14px;
	color:#fe7200;
	font-family: "宋体";
}

.orange_font_16 {
	font-size:16px;
	color:#fe7200;
	font-family: "宋体";
}

.white_font{
	font-size:16px;
	color: #FFFFFF;
	font-family:"宋体";
}

.white_font_14{
	line-height:23px;
	font-size:14px;
	color: #FFFFFF;
	font-family:"宋体";
}

.read_font{
	color:#FFFFFF;
	font-size:18px;
	font-family: "宋体";
	line-height:28px;
	font-style: normal;
	font-weight: normal;

}

.input_style{
	width:260px;
	text-align:left;
	height:26px;
	font-size:14px;
	color:#000000;
	background:#CCCCCC;
	border:none
}

.input_style1{
	text-align:left;
	height:68px;
	font-size:14px;
	color:#000000;
	width:290px;
	background:#CCCCCC;
	border:none
}

.input_style3{
	width:200px;
	text-align:left;
	height:26px;
	font-size:14px;
	color:#000000;
	background:#CCCCCC;
	border:none
}

.bt_1{
	width:80px;
	height:35px;
	background:url('../images/wap_tmp_4_btn_1.png') no-repeat;
	line-height:35px;
}

.bt_2{
	width:134px;
	height:35px;
	background:url('../images/wap_tmp_4_btn_1.png') no-repeat;
	line-height:35px;
	font-family: "宋体";
}

.hr_01{
	border:0px;
	border-top:1px solid #fe7200; 
}

a.write {
	text-decoration:none;
	color:#FFFFFF;
	font-family: "宋体";
}

a {
	text-decoration:none;
	color:#fe7200;
	font-family: "宋体";
}
/*按钮01(黑色134*35)的样式*/
.btn01{}
.btn01 li{
	width: 134px;
	height:35px;
	overflow:hidden;
	text-align: center;
	background-position: center center;
	background-image: url(http://3g.curead.cn/pps/images/wap_tmp_4_btn_1.png);
	background-repeat: no-repeat;
}
.btn01 li a{
	line-height:39px;
	display: block;
}

.btn02{}
.btn02 li{
	width: 134px;
	height:35px;
	overflow:hidden;
	text-align: center;
	background-position: center center;
	background-image: url(http://3g.curead.cn/pps/images/wap_tmp_4_btn_1.png);
	background-repeat: no-repeat;
	float:left
}
.btn02 li a{
	line-height:39px;
	display: block;
}