<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	   default-autowire="byName" default-lazy-init="false">
	   
	  <bean id="memcached" class="com.hunthawk.framework.memcached.MemCachedClientWrapper" init-method="init"  destroy-method="destroy"> 
  		<property name="name"> 
   				 <value>${memcache.name}</value> 
  		</property> 
  		<property name="serverList"> 
    			<value>${memcache.servers}</value> 
  		</property> 
  		<property name="weightList"> 
    			<value>${memcache.weights}</value> 
  		</property> 
  		<property name="maxConn"> 
   				 <value>${memcache.maxConn}</value> 
  		</property> 
 
  		<property name="minConn"> 
    			<value>${memcache.minConn}</value> 
  		</property> 
  		<property name="initConn"> 
    			<value>${memcache.initConn}</value> 
 		 </property> 
 	</bean>  
	   
	   
</beans>