<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-autowire="byName" default-lazy-init="false">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>
					classpath:configure.properties
				</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSource" class="com.hunthawk.reader.timer.dynamicds.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="dataSource1" value-ref="cmsdataSource" />
				<entry key="dataSource2" value-ref="etldataSource" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="cmsdataSource" />
	</bean>
	
	<bean id="cmsdataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>${db.url}</value>
		</property>
		<property name="user">
			<value>${db.user}</value>
		</property>
		<property name="password">
			<value>${db.password}</value>
		</property>

		<property name="initialPoolSize">
			<value>1</value>
		</property>
		<property name="minPoolSize">
			<value>3</value>
		</property>
		<property name="maxPoolSize">
			<value>5</value>
		</property>
		<property name="checkoutTimeout">
			<value>5000</value>
		</property>
		<property name="maxIdleTime">
			<value>1800</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>3000</value>
		</property>
		<property name="acquireIncrement">
			<value>2</value>
		</property>
		<property name="autoCommitOnClose">
			<value>false</value>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="annotatedClasses">
			<list>
				<value>
					com.hunthawk.reader.domain.system.Variables
				</value>
				<value>
					com.hunthawk.reader.domain.statistics.StatData
				</value>
				
				 <value>com.hunthawk.reader.domain.statistics.DataReport</value>
	       		 <value>com.hunthawk.reader.domain.statistics.LogData</value>
	       		   <value>com.hunthawk.reader.domain.statistics.URLConfigGroup</value>
	       		 <value>com.hunthawk.reader.domain.statistics.URLConfig</value>
	       		  <value>com.hunthawk.reader.domain.statistics.URLDataReport</value>
	       		   <value>com.hunthawk.reader.domain.statistics.URLHourDataReport</value>

				<value>
					com.hunthawk.reader.domain.bussiness.TagTemplate
				</value>
				<value>
					com.hunthawk.reader.domain.custom.Favorites
				</value>
				<value>
					com.hunthawk.reader.domain.vote.VoteResult
				</value>
				<value>
					com.hunthawk.reader.timer.entity.ResourceDT
				</value>
				<value>
					com.hunthawk.reader.domain.statistics.StatisticsUA
				</value>
				<value>
					com.hunthawk.reader.domain.custom.UserBuy
				</value>
				<value>
					com.hunthawk.reader.domain.inter.MsgRecord
				</value>
				<value>
					com.hunthawk.reader.domain.resource.ResourceAll
				</value>
				<value>
					com.hunthawk.reader.domain.device.UAInfo
				</value>
				<value>com.hunthawk.reader.domain.inter.VoteSubItem</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">${db.show_sql}</prop>
				<prop key="current_session_context_class">thread</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
				<prop key="hibernate.jdbc.fetch_size">30</prop>
				<prop key="hibernate.jdbc.batch_size">25</prop>
				<prop key="hibernate.max_fetch_depth">0</prop>

			</props>
		</property>
	</bean>




	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
		<property name="cacheQueries" value="true" />
	</bean>

	<bean name="hibernateGenericController" class="com.hunthawk.framework.HibernateGenericController">
		<property name="hibernateTemplate">
			<ref local="hibernateTemplate" />
		</property>
		<property name="cacheQueries" value="true" />
	</bean>
	
	<bean id="etldataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="jdbcUrl">
			<value>${etl_db.url}</value>
		</property>
		<property name="user">
			<value>${etl_db.user}</value>
		</property>
		<property name="password">
			<value>${etl_db.password}</value>
		</property>

		<property name="initialPoolSize">
			<value>1</value>
		</property>
		<property name="minPoolSize">
			<value>3</value>
		</property>
		<property name="maxPoolSize">
			<value>5</value>
		</property>
		<property name="checkoutTimeout">
			<value>5000</value>
		</property>
		<property name="maxIdleTime">
			<value>1800</value>
		</property>
		<property name="idleConnectionTestPeriod">
			<value>3000</value>
		</property>
		<property name="acquireIncrement">
			<value>2</value>
		</property>
		<property name="autoCommitOnClose">
			<value>false</value>
		</property>
	</bean>
	
	

	<import resource="applicationContext-job.xml" />
	<import resource="applicationContext-service.xml" />
	<import resource="applicationContext-memcached.xml" />



</beans>